<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title LinkedIn</title>
    @Styles.Render("~/Content/bootstrap.min.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="babo">
    <nav class="navbar navbar-expand-md fixed-top" style="background-color:#283e4a">
        <diFv class="container">
            <a class="navbar-brand px-1 py-0" href="@Url.Action("Home","JobOffer")" style="background-color:#0077B5;border-radius:2px"><b class="text-light h2">in</b></a>
            <button class="navbar-toggler text-light" type="button" data-toggle="collapse" data-target="#navbarUltra" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="h2">&equiv;</span>
            </button>
            <form action="\Search\Search" method="post" class="collapse navbar-collapse col justify-content-between pl-sm-0" id="navbarUltra">
                <div class="input-group form-inline w-50">
                    <input class="ml-0 form-control" type="text" placeholder="Buqueda" aria-label="Search" name="keyWords" style="border:none;border-radius:2px 0 0 2px" />
                    <button class="ml-0 btn" type="submit" style="border:none;border-radius:0 2px 2px 0">Search</button>
                </div>
                @Html.Partial("_LoginPartial")
            </form>
        </diFv>
    </nav>
    <div class="container body-content marginTopContent">
        @RenderBody()

    </div>

    <footer>
        <p>&copy; @DateTime.Now.Year Footer</p>
    </footer>
    <!-- Optional JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</html>
