@using Microsoft.AspNet.Identity
@if (Session["Username"] != null)
{
    <div class="navbar-nav">
        <a href="@Url.Action("Index", "Perfil", new { userID = Session["ID"].ToString() })" class="nav-item nav-link">@Session["Username"]</a>
        <a href="@Url.Action("LogOut", "Account")" class="nav-item nav-link">Log out</a>
    </div>
}else{
    <div class="navbar-nav">
        <a href = "@Url.Action("Login", "Account")" class="nav-item nav-link" id="loginLink">Log In</a>
        <a href = "@Url.Action("Registro", "Account")" class="nav-item nav-link" id="registerLink">Sign Up</a>
    </div>
}
