@model DuLink.Entities.JobOffer


<div class="container row">
    <div class="col-lg-8 col-md-7" style="background-color:white">
        <div class="container row">
            <div class="col-12 mt-2">
                <h4>JobOffer</h4>
            </div>
            @using (Html.BeginForm("Home", "JobOffer", FormMethod.Post, new { @class = "row" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group col-lg-3 col-md-4 col-sm-6 my-1">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label small" })
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control py-1" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger small" })
                </div>

                <div class="form-group col-lg-3 col-md-4 col-sm-6 my-1">
                    @Html.LabelFor(model => model.Salary, htmlAttributes: new { @class = "control-label small" })
                    @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @class = "form-control py-1" } })
                    @Html.ValidationMessageFor(model => model.Salary, "", new { @class = "text-danger small" })
                </div>

                <div class="form-group col-lg-3 col-md-4 col-sm-6 my-1">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label small" })
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control py-1" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger small" })
                </div>

                <div class="form-group col-lg-3 col-md-4 col-sm-6 my-1">
                    @Html.LabelFor(model => model.Contact, htmlAttributes: new { @class = "control-label small" })
                    @Html.EditorFor(model => model.Contact, new { htmlAttributes = new { @class = "form-control py-1" } })
                    @Html.ValidationMessageFor(model => model.Contact, "", new { @class = "text-danger small" })
                </div>

                <div class="form-group col-lg-3 col-md-4 col-sm-6 my-1">
                    @Html.LabelFor(model => model.ContactPhoneNumber, htmlAttributes: new { @class = "control-label small" })
                    @Html.EditorFor(model => model.ContactPhoneNumber, new { htmlAttributes = new { @class = "form-control py-1" } })
                    @Html.ValidationMessageFor(model => model.ContactPhoneNumber, "", new { @class = "text-danger small" })
                </div>

                <div class="form-group col-lg-3 col-md-4 col-sm-6 my-1">
                    @Html.LabelFor(model => model.Position, htmlAttributes: new { @class = "control-label small" })
                    @Html.EditorFor(model => model.Position, new { htmlAttributes = new { @class = "form-control py-1" } })
                    @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger small" })
                </div>
                     
                <div class="form-group col-lg-3 col-md-4 col-sm-6 my-1">
                    @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label small" })
                    @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control py-1" } })
                    @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger small" })
                </div>

                <div class="form-group col-12">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            }
            <div class="col-12">
                <div class="row">
                    <h5>Ofetas laborales</h5>
                </div>
                <div class="row">
                    <hr class="my-0" />
                </div>
                <div class="row" style="border-radius:3px;border:1px solid #ccc">

                    <div class="col-12" style="border-bottom:1px solid #ccc">
                        <img src="~/Content/Perfil.png" alt="Alternate Text" style="width:50px;height:50px;border-radius:100%" />
                        <span>Nombre usuario</span>
                    </div>
                    <div class="col-12 my-2">
                        <h6>Oferta laboral de (Company)</h6>
                        <p>
                            (Name), se necesita persona para el cargo de (cargo) con un salario estimado de (salary)
                        </p>
                        <p>
                            Descripción: (Descripción)
                        </p>
                    </div>

                </div>
               

            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-5">
        <div class="row container">

            <div class="col-12">
                <h6>Sugeridos</h6>
            </div>
            <div style="height:210px;overflow-y:auto" class="col-12">
                    @foreach (var Sugerido in ViewBag.ListaSugeridos)
                    {
                        <div class="img-thumbnail col-12">
                            <h6>@Sugerido.Name</h6>
                            <img src="~/Content/Perfil.png" alt="Imagen del perfil" style="height:100px" />
                            <button class="btn btn-primary p-1">Follow</button>
                        </div>
                    }
            </div>

            <div class="col-12 row contactos">
                <div class="col-12">
                    <h6>Contactos</h6>
                </div>
                @foreach (var Contact in ViewBag.ListaContactos)
                {
                    <a href="#" class="col-12 my-1 contacto">
                        <img src="~/Content/Perfil.png" alt="Alternate Text" style="width:50px;height:50px;border-radius:100%" />
                        <span>@Contact.Name</span>
                    </a>
                }

            </div>
        </div>
    </div>

</div>



